<div align="center"><input type="text" ng-model="search" class="search-query" placeholder="start typing"></div>
<table id="jsTable" class="tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th>OpenCDN</th>
     <!-- <th><a href="#/new">add<i class="icon-plus-sign"></i></a></th>  -->
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="project in projects | filter:search | orderBy:'name'">
    <td><a href="{{project.site}}" target="_blank">{{project.name}}</a></td>
    <td style="color: #0598C9;">{{project.version}}</td>
    <td>http://opencdn.me/script/{{project.description}}</td>
     <!-- <td>
      <a href="#/edit/{{project._id.$oid}}">edit<i class="icon-pencil"></i></a>
    </td> -->
  </tr>
  </tbody>
</table>